<div class="panel panel-primary">
  <div class="panel-body">
    <p>To change your bank account information, please re-connect to Stripe and register a new account.</p>
    <%= link_to "Change your account", stripe_deauthorize_path, class:"btn btn-danger" %>
  </div>
</div>